.App {
  text-align: center;
  background-image: url('../src/assets/Achtergrond.png');
  background-size: cover;
  background-repeat: repeat;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  padding: 50px 0px;
}

@media (min-width: 750px) {
  .App {
    padding: 50px;
  }
}

.deck-container {
  display: flex;
  justify-content: center;
  margin-left: 100px;
  height: 30vh;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
}

@media (min-width: 750px) {
  .deck-container {
    justify-content: space-between;
  }
}

.card-picked {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: nowrap;
  margin-left: 50vw;
}

.card-container {
  height: 30vh;
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 10px;
  margin-left: -240px;
}

.single-card-container {
  max-width: 80vw;
  background-size: contain;
  position: relative;
  border-radius: 10px;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: flex-end;
}

@media (min-width: 750px) {
  .single-card-container {
    justify-content: flex-start;
  }
}

.width {
  max-width: 75vw;
  max-height: 50vh;
  margin-left: -75vw;
}

@media (min-width: 750px) {
  .width {
    max-width: 30vw;
    margin-left: -30vw;
  }
}

.button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 10px;
  margin: 5px;
  background-image: linear-gradient(
    to right,
    #d1913c 0%,
    #ffd194 51%,
    #d1913c 100%
  );

  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: black;
  box-shadow: 0 0 20px #000;
  border-radius: 10px;
  font-weight: 600;
}

.button:hover {
  background-position: right center;
  color: #000;
  text-decoration: none;
  font-weight: 800;
}

.buttons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  margin: 25px 10px;
  text-align: center;
}
